@tailwind base;
@tailwind components;
@tailwind utilities;

/*flex居中*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Microsoft Yahei Light", "Microsoft Yahei", "PingFang SC", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bg-white-25 {
    background-color: rgba(255, 255, 255, .25);
}

.color-white-50 {
    background-color: rgba(255, 255, 255, .5);
}
.bg-white-50 {
    background-color: rgba(255, 255, 255, .5);
}

.bg-white-60 {
    background-color: rgba(255, 255, 255, .6);
}


.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}