@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Microsoft Yahei Light", "Microsoft Yahei", "PingFang SC", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


:root {
    --primary-color: #1890ff;
    --search-height: 46px;
    --search-radius: 23px;
    --search-bgColor: rgba(255, 255, 255, var(--search-opcity));
    --search-opcity: 0.7;
    --icon-radius: 16px;
    --icon-size: 104px;
    --icon-max-width: 1350px;
    --icon-gap-x: 30px;
    --icon-gap-y: 30px;
    --icon-opacity: 1;
    --icon-name: block;
    --icon-nameSize: 12px;
    --icon-nameColor: #fff;
    --time-size: 80px;
    --time-font: inherit;
    --time-color: #fff;
    --time-fontWeight: 400;
    --time-month: inline;
    --time-week: inline;
    --time-lunar: inline;
    --time-sec: none;
    --sidebar-width: 50px;
    --sidebar-opacity: 0.5;
    --wall-mask: 0;
    --wall-blur:3px;
}


/*.light {*/
/*    --alpha-color: 0, 0, 0;*/
/*    --alpha-bg: 255, 255, 255;*/
/*    --bg-body: #f1f0f5;*/
/*    --bg-card: #fff;*/
/*    --bg-info: #f5f5f5;*/
/*    --bg-input: #f0f1f4;*/
/*    --bg-hover: #e2e0e0;*/
/*    --bg-btn: #dcdada;*/
/*    --dividing-line: #f2f2f2;*/
/*    --border-card: var(--dividing-line);*/
/*    --d-main: #222;*/
/*    --d-sub: #939393;*/
/*    --d-hover: rgba(var(--alpha-color), .5);*/
/*    --img-bg: var(--bg-card);*/
/*    --img-text: var(--alpha-bg);*/
/*}*/

/*.dark {*/
/*    --alpha-color: 255, 255, 255;*/
/*    --alpha-bg: 0, 0, 0;*/
/*    --bg-body: #0c0c0c;*/
/*    --bg-card: #1c1c1e;*/
/*    --bg-info: #16161a;*/
/*    --bg-input: #25252c;*/
/*    --bg-hover: #25252c;*/
/*    --bg-btn: #303134;*/
/*    --dividing-line: #202025;*/
/*    --border-card: var(--dividing-line);*/
/*    --d-main: #dfdddd;*/
/*    --d-sub: #999;*/
/*    --d-hover: rgba(var(--alpha-color), .6);*/
/*    --img-bg: var(--alpha-bg);*/
/*    --img-text: 255, 255, 255;*/
/*}*/